<!DOCTYPE html>
<html>
<head>
    <title>Academia de Heroes</title>
</head>
<body>
    {% load static %}
    <script src="{% static 'app/js/toast.js' %}"></script>
    <link rel="icon" href="{% static 'app/images/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/palette.css' %}">

    {% include "components/header.html" %}

    {% block indice %}
    {% endblock %}

    {% include "components/navbar.html" %}

    <main>
        {% if messages %}
            <div id="toast-container">
                {% for message in messages %}
                <div class="toast {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
    
    {% include "components/footer.html" %}
</body>
</html>