<!DOCTYPE html>
<html>
<head>
    <title>Academia de Heroes</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/palette.css' %}">

    {% include "components/header.html" %}

    {% block indice %}
    {% endblock %}

    {% include "components/navbar.html" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    {% include "components/footer.html" %}
</body>
</html>