{% extends "base.html" %}

{% block indice %}
<h2>Crear personaje</h2>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/crear.css' %}">

    <div class="form-wrapper">
        <img src="{% static 'app/images/char_placeholder.png' %}" alt="Silueta del personaje">

        <div class="form-campos">
            <div class="campo">
                <label>Nombre:</label>
                <input type="text" name="nombre">
            </div>

            <div class="campo">
                <label>Nivel:</label>
                <input type="number" name="nivel">
            </div>

            <div class="campo">
                <label>Vida:</label>
                <input type="number" name="vida">
            </div>

            <button type="submit">Crear</button>
        </div>
    </div>
</form>
{% endblock %}