{% extends "base.html" %}

{% block indice %}
{% load static %}
<link rel="stylesheet" href="{% static 'app/css/indice.css' %}">
<h2>Registrar cuenta</h2>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">

    <div class="form-wrapper">

        <div class="form-campos">
            <div class="campo">
                <label>Usuario:</label>
                <input type="text" name="user" required>
            </div>

            <div class="campo">
                <label>DNI:</label>
                <input type="text" name="dni" required pattern="^[0-9]{8}[A-Za-z]$"
       title="Debe tener 8 números y una letra (ej: 12345678Z)">
            </div>

            <div class="campo">
                <label>Teléfono:</label>
                <input type="text" name="telefono" required pattern="^[0-9]{9}$"
       title="Debe tener 9 números (ej: 612345678)">
            </div>

            <div class="campo">
                <label>Fecha Nacimiento:</label>
                <input type="date" name="fnac" required>
            </div>

            <div class="campo">
                <label>Contraseña:</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit">Registrarse</button>
        </div>
    </div>
</form>
{% endblock %}